################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mars.Rover/Mars.Rover/bin/Debug
/Mars.Rover/Mars.Rover/obj/Debug
/Mars.Rover/Mars.Rover.v12.suo
